@use '../abstracts/' as *;

.c-list-btn {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-btn {
  width: 300px;
  height: 300px;
  border: 3px solid #7873ba;
  border-radius: 20px;
  margin: 10px;

  &:hover {
    background-color: #7873ba;

    .list-btn-text, .schedule-btn-icon {
      color: #FFFFFF;
    }
  }
}

.list-btn-text {
  text-transform: none;
  color: #7873ba;
  font-family: $font-primary-bold;
  font-size: 24px;
}

.c-list-subtitle {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.c-list {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.list-subtitle {
  font-family: $font-primary-bold;
  color: #7873ba;
  text-align: center;
  margin-top: 10px;
}

.list-btn-position {
  margin-left: auto;
}

.c-list-item {
  display: flex;
  padding: 20px;
}

.c-list-item-content {  
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.c-list-item-title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.list-item-title {
  font-family: $font-primary-bold;
  font-size: 32px;
}

.list-item-text {
  font-family: $font-primary-regular;
}

.list-item-margin {
  margin-bottom: 10px;
}

.list-item-select {
  margin-left: 5px;
  padding: 10px;
  border: 2px solid #7873ba;
  border-radius: 10px;
  font-family: $font-primary-regular;
  font-size: 16px;
}

.c-list-item-rating {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.c-select {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.select-hidden {
  display: none;
}

.rating {
  margin-bottom: 10px;
}

.list-item-image {
  max-width: 230px;
  max-height: 320px;
}

.schedule-btn-icon {
  width: 40px;
  height: 40px;
  color: #7873ba;
  margin-right: 10px;
}
