@use "../abstracts/" as *;

.c-season-list {
  margin: 0 20px;
}

.MuiDataGrid-root .MuiDataGrid-cell--flex {
  flex-wrap: wrap;
  padding: 5px;
  align-items: center;
}

.schedule-grid {
  margin: 35px;
}

.c-schedule-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.season-schedule-title {
  font-family: $font-primary-bold;
  color: #7873ba;
}

.schedule-title-icon {
  width: 45px;
  height: 45px;
  margin-right: 20px;
  color: #7873ba;
}

.schedule-grid-column {
  width: 400px;
  text-transform: capitalize;
  font-family: $font-primary-bold;
  font-size: 24px;
  color: #FFFFFF;
  background-color: #7873ba;
  display: flex;
  align-items: center;
  align-items: center;
}