/*====================================================================*/
/*  Fonts
/*====================================================================*/

$font-primary-regular: 'Roboto-Regular', 'sans-serif';
$font-primary-light: 'Roboto-Light', 'sans-serif';
$font-primary-medium: 'Roboto-Medium', 'sans-serif';
$font-primary-bold: 'Roboto-Bold', 'sans-serif';

$color-header-bg: #7873ba;